<div class="custom-onboarding-faq">
  <h3>{{theme-i18n "onboarding.faq.headline"}}</h3>
  <p>
    {{theme-i18n "onboarding.faq.description"}}
  </p>
  <a href="/faq" class="btn btn-primary">
    {{theme-i18n "onboarding.faq.button"}}
  </a>
</div>