<div class="custom-onboarding-chat">
  <h3>{{theme-i18n "onboarding.chat.headline"}}</h3>
  <p>
    {{theme-i18n "onboarding.chat.description"}}
  </p>
  <a
    href="/chat/browse/open"
    class="btn btn-primary"
    {{on "click" @dismissBanner}}
  >
    {{theme-i18n "onboarding.chat.button"}}
  </a>
</div>