.custom-onboarding-tips {
  padding: 2em;
  margin-bottom: 1em;
  background: var(--tertiary-low);
  position: fixed;
  z-index: 1001;
  bottom: 1em;
  right: 2em;
  max-width: 300px;
  box-shadow: shadow("dropdown");

  body:not(.has-sidebar-page) & {
    @media screen and (min-width: 1600px) {
      position: fixed;
      right: 1em;
      width: calc((100vw - 1300px) / 2);
      max-width: 20em;
    }
  }

  body.has-sidebar-page & {
    @media screen and (min-width: 1800px) {
      position: fixed;
      right: 1em;
      width: calc((100vw - 1524px) / 2);
      max-width: 20em;
    }
  }

  .dismiss-onboarding-tips {
    position: absolute;
    right: 0;
    top: 0;
  }

  input {
    max-width: 100%;
  }
}

.custom-onboarding-bio {
  .d-editor-preview-wrapper,
  .d-editor-button-bar {
    display: none;
  }
  .d-editor {
    margin-bottom: 1em;
  }
  button.local-dates {
    display: none;
  }
  .d-editor-preview {
    background: var(--tertiary-very-low);
    padding: 0.5em;
  }
}

.custom-onboarding-avatar {
  .avatar {
    background: var(--tertiary-low);
  }

  [class*="__uploader"] {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
  }
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
